body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(0, 0, 0, 1) 70%
  );
  overflow: hidden;
  animation: starAnimation 5s linear infinite;
  z-index: -1;
}

@keyframes starAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.star {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
